body {
  /* background-color: #2e5090; */
  background-color: white;
  /* color: #ffff33; */
  color: black;
  text-align: center;
}
.input-colorNum {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  height: 1.5rem;
}
.pages-btn > a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}
.pages-btn {
  border-radius: 10%;
  margin: 0rem 1rem;
}
p {
  font-size: 2rem;
}
